# global options block: https://caddyserver.com/docs/caddyfile/options
{
	experimental_http3
	email 	{{ admin_email }}
}

# reusable snippets: https://caddyserver.com/docs/caddyfile/concepts#snippets
(boilerplate) {
	encode gzip zstd
	file_server
}

# start site blocks

# test page
test.sunrisepvd.com {
	root * /srv/sunrisepvd.com/test/public/
	import boilerplate
	# https://caddyserver.com/docs/caddyfile/directives/templates
	# can't use default double curly braces b/c Ansible uses them
	templates {
		between (( ))
	}
}

# handcoded Providence site
www.sunrisepvd.com {
	root * /srv/sunrisepvd.com/www/public
	import boilerplate
	php_fastcgi unix/{{ php_fpm_unix_socket }}
}
# redirect no-www to www
sunrisepvd.com {
	redir https://www.sunrisepvd.com
}