# global options block
{
	storage file_system {
		root	/etc/caddy/storage
	}
	experimental_http3
	email 	{{ admin_email }}
}

# reusable snippets
(boilerplate) {
	encode gzip zstd
	file_server
}

# start site blocks

# test page
test.sunrisepvd.com {
	root * /srv/sunrisepvd.com/test/public/
	import boilerplate
}

# handcoded Providence site
www.sunrisepvd.com {
	root * /srv/sunrisepvd.com/www/public
	import boilerplate
	php_fastcgi unix//var/run/php/php7.3-fpm.sock
}
# redirect no-www to www
sunrisepvd.com {
	redir https://www.sunrisepvd.com
}